<h1>Welcome to the Event Planner</h1>
<p>Choose a section: </p>
<ul>
  <li><a href="/users">Users</a></li>
  <li><a href="/calendars">Calendars</a></li>
  <li><a href="/events">Events</a></li>
  <li><a href="/invitations">Invitations</a></li>
</ul>