
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h2>New Calendar</h2>
    <form action="/calendars/new" method="post">
      <div class="form-group">
        <label for="name">Calendar Name</label>
        <input type="text" class="form-control" name="name" placeholder="Calendar Name">
      </div>
      <div class="form-group">
        <label for="userId">User ID</label>
        <input type="text" class="form-control" name="userId" placeholder="Enter a User ID">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>
</div>