
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h2>New User</h2>
    <form action="/users/new" method="post">
      <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" name="fname" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" name="lname" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="form-group">
      <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>
</div>